body {
    margin: 0;
    background-color: #401f40;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

nav {
    background-color: #303060;
    height: 50px;
    width: 100%;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 15px;
}

.main-img { 
    position: relative;
    height: 500px;
    background-image: url("../content/static/ecc8608ebb9732b0a74cc79493f1a31f.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-img .title{
    color: white;
    font-size: 40px;
    text-shadow: 0 0 8px #3e3a3b;
    margin-bottom: 1rem;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.post {
    margin: 5px;
    position: relative;
    display: flex;
    height: 400px;
    box-shadow: 0 0 5px 0 black;
}

.post .title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
    text-shadow: 0 0 8px #3e3a3b;
}

.post img {
    width: 100%;
    object-fit: cover;
}
    
.post-body {
    margin: -5px 5px 0;
    padding: 20px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.no-shadow {
    box-shadow: none;
}

.comment-section{
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px;
}

.comment-container{
    border-bottom-color: #1a1a1a;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    padding: 5px;
}

.comment{
    font-family: sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0;
}
  
.comment-input{
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.comment-submit-button{
    border: 0;
}

.sub-comment-header{
    margin: 0;
    font-family: monospace;
    font-style: oblique;
    font-weight: 500;
}

.sub-comment-section{
    margin-left: 20px;
}

.sub-comment{
    margin-top: 0;
}

.comment-input{
    border: 0;
}

.pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.pages a{
    background-color: #aaa;
    color: white;
    padding: 0.5rem 0.75rem;
    border: 1px solid #eee;
    margin: 0 0.25rem;
}

.pages a:hover {
    background-color: #999;
    text-decoration: none;
}

.pages a.active{
    background-color: #ccc;
}

.previous-page{
    
}

.next-page{
    
}

.three-dots{
    line-height: 1;
    font-size: 24px;
}

.sign-in-form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-in-form div {
    max-width: 200px;
    width: 100%;
    margin-bottom: 1rem;
}

.search{
    color: grey;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 2px solid darkblue;
}

.search::placeholder {
    color: grey;
}

.submit-btn{
    display: none;
}

@media screen and (max-width: 768px)
{
    .submit-btn{
        display: inline-block;
    }
}

.edit {
    display: flex;
    flex-direction: column;
}